footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;   
    /*background-color: var(--color-primary);*/
    color: var(--color-quinary);
    height: 350px;
    padding: 0 40px;
}
footer .footer1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}
footer .footer1 .footer1__info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 100%;
}
footer .footer1 .footer1__info h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
footer .footer1 .footer1__info p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
    width: 90%;
    /*justificar texto*/
    text-align: justify;
}
footer .footer1 .footer1__social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
footer .footer1 .footer1__social h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
footer .footer1 .footer1__social ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    list-style: none;
}
footer .footer1 .footer1__social ul li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: var(--color-tertiary);
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}
footer .footer1 .footer1__social ul li:hover{
    background-color: var(--color-quinary);
}
footer .footer1 .footer1__social ul li i{
    color: var(--color-primary);
}
footer .footer1 .footer1__contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
footer .footer1 .footer1__contacto h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
footer .footer1 .footer1__contacto ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    list-style: none;
}
footer .footer1 .footer1__contacto ul li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
footer .footer1 .footer1__contacto ul li a{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 10px;
    text-decoration: none;
    color: var(--color-tertiary);
}
footer .footer1 .footer1__contacto ul li a:hover{
    color: var(--color-quaternary);
}
footer hr{
    width: 90%;
    height: 3px;
    background-color: var(--color-tertiary);
    margin: 20px 0;
    border: none;
}
footer .footer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer .footer2 p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}
footer .footer2 p a{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--color-quinary);
}

/* responsive */
@media screen and (max-width: 768px){
    footer{
        height: 650px;
    }
    footer .footer1{
        flex-direction: column;
        height: 80%;
    }
    footer .footer1 .footer1__info{
        width: 100%;
        height: 30%;
    }
    footer .footer1 .footer1__social{
        width: 100%;
        height: 30%;
        padding-top: 20px;
    }
    footer .footer1 .footer1__contacto{
        width: 100%;
        height: 30%;
        padding-top: 20px;
    }
    footer .footer1 .footer1__contacto ul li{
        justify-content: center;
    }
    footer .footer2{
        text-align: center;
    }
}