<footer class="fondo_degradado_radial">
    <div class="footer1">
        <div class="footer1__info">
            <h2>Empleos abancay</h2>
            <p>
                Empleos Abancay de <b>Aynidev.com</b> es un portal web que tiene como finalidad ayudar a las personas que estan en busca de un trabajo, y que las empresas puedan encontrar a los mejores profesionales.
            </p>
        </div>
        <div class="footer1__social">
            <h2>Redes sociales</h2>
            <ul>
                <li><a href="https://www.facebook.com/empleosabancay/" target="_blank"><i class="fa-brands fa-facebook"></i> </a></li>
                <li><a href="https://www.instagram.com/empleosabancay/" target="_blank"><i class="fa-brands fa-instagram"></i> </a></li>
                <li><a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
            </ul>
        </div>
        <div class="footer1__contacto">
            <h2>Contacto</h2>
            <ul>
                <li><a href="tel:+51999999999"><i class="fas fa-phone-alt"></i> +51 967922800</a></li>
                <li><a href="#"><i class="fa-solid fa-location-dot"></i> Av. 4 de Noviembre s/n</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="footer2 ">
        <p>© 2023 <a href="https://aynidev.com" target="_blank"><b>Aynidev</b></a>. Todos los derechos reservados.</p>
    </div>
</footer>