<app-navinfo [title]="'Nosotros'"></app-navinfo>
<section class="section__nosotros">
    <div class="section__nosotros__container">
        <div class="section__nosotros__container__left">
            <img src="assets/img/nosotros.png" alt="logo"
                width="100">
        </div>
        <div class="section__nosotros__container__right">
            <h1>Nosotros</h1>
            <hr>
            <p>Somos un grupo de profesionales que hemos
                tomado la iniciativa de hacer un portal web,
                para que nuestros ciudadanos encuentren 
                trabajo de calidad y verificado.</p>
            <p>En este portal va aencotrar aviso de empleos de desitintas empres y/o instituciones ya sean public o privada, todos nuestro avisos estan sujetos a revisiones constantes</p>
            <!--<a class="btn-primary" [routerLink]="['/nosotros']">Saber mas</a>-->
        </div>
    </div>
</section>