<app-navinfo [title]="'Nosotros'"></app-navinfo>
<section class="section__nosotros">
    <div class="section__nosotros__container">
        <div class="section__nosotros__container__left">
            <img src="assets/img/nosotros.png" alt="logo"
                width="100">
        </div>
        <div class="section__nosotros__container__right">
            <h1>Nosotros</h1>
            <hr>
            <p>Somos un grupo de profesionales que hemos
                tomado la iniciativa de hacer un portal web,
                para que nuestros ciudadanos encuentren 
                trabajo de calidad y verificado.</p>
            <p>Este portal web esta hecho con la finalidad
                de ayudar a las personas que estan en busca
                de un trabajo, y que las empresas puedan
                encontrar a los mejores profesionales.</p>
            <!--<a class="btn-primary" [routerLink]="['/nosotros']">Saber mas</a>-->
        </div>
    </div>
</section>