.section__inicio{
    height: 90vh;
}
.section__inicio .section__inicio__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 100px;
}
.section__inicio .section__inicio__container .section__inicio__container__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}
.section__inicio .section__inicio__container .section__inicio__container__left h1{
    font-size: 3rem;
    font-weight: 800;
    color: var(--color-quinary);
    margin-bottom: 10px;
}
.section__inicio .section__inicio__container .section__inicio__container__left p{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-quaternary);
    margin-bottom: 10px;
}
.section__inicio .section__inicio__container .section__inicio__container__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.section__inicio .section__inicio__container .section__inicio__container__right img{
    width: 90%;
    height: 400px;
    object-fit: cover;
    /* ver la parte de arriba de la imagen */
    object-position: top;
}

.section__nosotros{
    height: 700px;
    background-color: var(--color-quinary);
}
.section__nosotros .section__nosotros__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 100px;
}
.section__nosotros .section__nosotros__container .section__nosotros__container__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.section__nosotros .section__nosotros__container .section__nosotros__container__left img{
    width: 90%;
    height: 300px;
    object-fit: cover;
}
.section__nosotros .section__nosotros__container .section__nosotros__container__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}
.section__nosotros .section__nosotros__container .section__nosotros__container__right h1{
    font-size: 3rem;
    font-weight: 800;
    color: var(--color-primary);
    margin-bottom: 10px;
}
.section__nosotros .section__nosotros__container .section__nosotros__container__right hr{
    width: 90%;
    height: 5px;
    background-color: var(--color-tertiary);
    border: none;
    margin-bottom: 10px;
}
.section__nosotros .section__nosotros__container .section__nosotros__container__right p{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secondary);
    margin-bottom: 10px;
    width: 90%;
}



.section__empresas{
    min-height: 700px;
    background-color: var(--color-secondary);
}
.section__empresas .section__empresas__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}
.section__empresas .section__empresas__container h1{
    font-size: 3rem;
    font-weight: 800;
    color: var(--color-quinary);
    margin-bottom: 10px;
}
.section__empresas .section__empresas__container hr{
    width: 90%;
    height: 5px;
    background-color: var(--color-quaternary);
    border: none;
    margin-bottom: 10px;
}
.section__empresas .section__empresas__container .section__empresas__container__cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px 0; /*opcional*/
}
.section__empresas .section__empresas__container .section__empresas__container__cards .section__empresas__container__cards__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 10px;
}
.section__empresas .section__empresas__container .section__empresas__container__cards .section__empresas__container__cards__card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.section__empresas .section__empresas__container .section__empresas__container__cards .section__empresas__container__cards__card:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
.section__empresas .section__empresas__container .section__empresas__container__cards .section__empresas__container__cards__card h2{
    font-size: 1em;
    font-weight: 800;
    color: var(--color-quaternary);
    margin-bottom: 10px;
    text-align: center;
}

/* responsive */
@media screen and (max-width: 768px){
    .section__inicio .section__inicio__container{
        flex-direction: column;
        padding: 0 20px;
    }
    .section__inicio .section__inicio__container .section__inicio__container__left{
        width: 100%;
        height: 50%;
        /*center*/
        align-items: center;
        text-align: center;
    }
    .section__inicio .section__inicio__container .section__inicio__container__right{
        /*width: 100%;
        height: 50%;
        margin-bottom: 40px;*/
        display: none;
    }
    .section__nosotros{
        height: 100%;
    }
    .section__nosotros .section__nosotros__container{
        flex-direction: column;
        padding: 20px 20px;
    }
    .section__nosotros .section__nosotros__container .section__nosotros__container__left{
        width: 100%;
        height: 50%;
    }
    .section__nosotros .section__nosotros__container .section__nosotros__container__right{
        width: 100%;
        height: 50%;
        align-items: center;
        text-align: center;
    }
    .section__empresas .section__empresas__container{
        padding: 20px 20px;
        text-align: center;
    }
}