<div class="container">
    <div class="container__right__info">
        <h2 class="container__right__title">Categorias</h2>
        <hr>
        <ul>
            <li><a href="">*Administracion<span class="number">2</span></a></li>
            <li><a href="">*Contabilidad<span class="number">3</span></a></li>
            <li><a href="">*Informatica<span class="number">1</span></a></li>
        </ul>
    </div>
    <div class="container__right__info">
        <h2 class="container__right__title">Ciudades</h2>
        <hr>
        <ul>
            <li><a href="">*Abancay <span class="number">0</span></a></li>
            <li><a href="">*Villa ampay<span class="number">2</span></a></li>
            <li><a href="">*Las america<span class="number">11</span></a></li>
        </ul>
    </div>
    <div class="container__right__info">
        <h2 class="container__right__title">Anuncios</h2>
        <hr>
        <a href="http://faceboock.com" target="_blank"><img src="https://img.restaurantguru.com/rb6d-Pollos-a-la-Brasa-Riquisimo-meat.jpg" alt="" style="width: 100%;"></a>
    </div>
</div>