<div class="container">
    <div class="container__right__info">
        <h2 class="container__right__title">Categorias</h2>
        <hr>
        <ul>
            <li><a href="">*Administracion<span class="number">2</span></a></li>
            <li><a href="">*Contabilidad<span class="number">3</span></a></li>
            <li><a href="">*Informatica<span class="number">1</span></a></li>
        </ul>
    </div>
    <div class="container__right__info">
        <h2 class="container__right__title">Ciudades</h2>
        <hr>
        <ul>
            <li><a href="">*Abancay <span class="number">0</span></a></li>
            <li><a href="">*Villa ampay<span class="number">2</span></a></li>
            <li><a href="">*Las america<span class="number">11</span></a></li>
        </ul>
    </div>
    <div class="container__right__info">
        <h2 class="container__right__title">Anuncios</h2>
        <hr>
        <a href="https://codideep.com" target="_blank"><img src="https://scontent-lim1-1.xx.fbcdn.net/v/t39.30808-6/352232990_980267773338862_3429584636918873712_n.jpg?_nc_cat=106&cb=99be929b-3346023f&ccb=1-7&_nc_sid=730e14&_nc_ohc=bn-oVTIlThEAX_rai3W&_nc_ht=scontent-lim1-1.xx&oh=00_AfBvwD4u7-2ZpEAl1ljqU-1LmNDd21Vc7DCd5QyC-oSn3w&oe=64B51275" alt="" style="width: 100%;"></a>
    </div>
</div>